<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!--namespace对应的dao接口-->
<mapper namespace="com.cheer.shopping.mapper.CouponitemMapper">
    <!-- id是方法名 #{id}是方法参数 -->

    <select id="getCouponitem" resultMap="couponitem">
        select * from couponitem where user_id = #{userid}
    </select>
    <resultMap id="couponitem" type="Couponitem">
        <id property="couponitemId" column="couponitem_id"></id>
        <association property="coupon" column="coupon_id" javaType="Coupon" fetchType="lazy" select="com.cheer.shopping.mapper.CouponMapper.getCoupon"></association>
    </resultMap>
    <insert id="insertCouponitem">
        insert into couponitem values (#{couponitemId},#{couponId},#{userId})
    </insert>
    <delete id="deleteCouponitem">
        delete from couponitem where couponitem_id = #{couponitemId}
    </delete>
</mapper>
